body,
html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
.info {
  height: 10vh;
  background: #464660;
  width: 100%;
  display: flex;
  align-items: center;
  color: #ced6e0;
  font-size: 24px;
  justify-content: space-around;
}
.board {
  width: 100vw;
  height: 90vh;
  background: #368b85;
  /* border-radius: 10px; */
  display: block;
}

@media only screen and (max-width: 600px) {
  .info {
    align-items: flex-start;
    font-size: medium;
    height: 15%;
    flex-wrap: wrap;
  }
  .user {
    width: 100%;
    text-align: center;
    padding-top: 10px;
  }
  .board {
    height: 85%;
  }
}
